// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}

@mixin Responsive2($canvas) {
  @if $canvas == XX {
    @media only screen and (max-width: $XX) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  } @else if $canvas == SS {
    @media only screen and (max-width: $SS) {
      @content;
    }
  } @else if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  }
}

//footer-link

@mixin Flink() {
  ul {
    list-style: none;
    h3 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 1.5rem;
      font-weight: 400;
    }
    li {
      &:hover {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      a {
        font-size: 16px;
        color: #a7a7a7;
      }
    }
  }
}

// device
@mixin Device() {
  a {
    h3 {
      font-size: 20px;
      color: #fff;
      padding: 1rem 0;
      font-weight: 400;
    }
    i {
      color: #fff;
    }
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    padding: 0;
  }
}

//icon
@mixin Icon() {
  color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

//buton modal
@mixin Modalbtn() {
  button {
    background-color: #0276b3;
    border: 1px solid #0276b3;
    color: #fff;
    min-height: 50px;
    width: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    text-align: center;
    line-height: 1.25;
    &:hover {
      color: #102b4e;
      background-color: #fff;
      border: 1px solid #102b4e;
    }
    &:focus {
      outline-offset: 5px;
      outline: 1px solid #0276b3;
    }
  }
}
