.myNavBar {
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    background-color: #fff;
    z-index: 2001;
    top: 0;
    font-family: 'fordngbs-antenna-cond-medium', 'fordngbs-antenna-cond-regular', 'fordngbs-antenna-re', arial, helvetica, sans-serif;
    .nav-bar {
        box-shadow: 0 8px 4px -4px #00000033;
        .nav-top {
            display: flex;
            flex-flow: row nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            width: 100%;
            flex: 0 1 auto;
            background-color: #f3f3f3;
            height: 40px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 80px;
            padding-right: 80px;
            .nav-top-left {
                padding-top: 10px;
                width: 100%;
                .list-left {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: flex-start;
                    li {
                        position: relative;
                        .item {
                            min-height: 34px;
                            line-height: 32px;
                            display: block;
                            padding-right: 10px;
                            text-decoration: none;
                            color: #102b4e;
                            font-size: 12px;
                            font-family: 'fordngbs-antenna-cond-medium', 'fordngbs-antenna-cond-regular', 'fordngbs-antenna-re', arial, helvetica, sans-serif;
                            letter-spacing: .5px;
                            &:hover {
                                color: #2861a4;
                                .ford-mustang {
                                    background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%20649.9%20254'%20style='enable-background:new%200%200%20649.9%20254;'%20xml:space='preserve'%3E%3Cstyle%20type='text/css'%3E%20.st0%7Bfill:none;%7D%20.st1%7Bfill:%232861A4;%7D%0A%3C/style%3E%3Cg%20id='Clearspace'%3E%3Crect%20x='-72.1'%20y='-190.4'%20class='st0'%20width='778.5'%20height='551.3'/%3E%3C/g%3E%3Cg%20id='Bronco_Sport'%3E%3Cpath%20class='st1'%20d='M180.3,160c-0.2,0.5-1.9,4-3.2,6.9c-2.4,5.1-3.2,6.8-3.3,7.2l-0.3,0.9l2.8,5.8l0.4,0.3c0.4,0.3,9,6.8,24.7,3.9%20l3-0.5l-1.4-2.7c-1.8-3.4-3.9-6.7-6.3-9.7c-2.5-3-5.2-5.9-8-8.6c-1.4-1.3-2.7-2.7-3.9-4.1l-1.6-4.9l-2.4,4.6L180.3,160%20M275.4,151.9L275.4,151.9c-11.8,1.6-23.7,2.4-35.7,2.2H238l-0.5,1.6c-2.8,9.3,0.2,19.6,0.4,20l0.7,2.3l2.3-0.9%20c0.6-0.3,1.3-0.2,1.9,0.2l1,0.8l1.1-0.4c4.4-1.5,6.2-7.6,7-11.1l32,2l-15.4,15.3l-10.8,1.9l-0.5,0.5c-3.1,3.2-6.3,6.2-9.8,9%20l-1.5,1.3l1.1,1.7c6.5,9.8,12.7,12.4,12.9,12.5l1.2,0.5l23.9-19.4l20.9-1.9h0.9l1.7-2l0.1-0.2c9-10.7,12.7-15.8,16.5-22.5%20c2.5-4.4,5.7-13.2,7-16.8c0.6-1.8,1.8-4.1,3.2-7.1l3.8-7.9l-4.6,1.2c-4.5,1.1-15.8,4.9-22.6,7.6C300.2,146.8,288,150.1,275.4,151.9%20M649.7,56.8c0,7.3-3.3,18.1-19.2,28.3c-12.2,7.8-36.2,9.4-43.2,8.7c-14.9-1.5-27.8-4.5-38.3-8.8c-4-1.6-6.9-1.9-9.5-0.9%20c-2.9,1.2-6,4.6-7.7,7.6l-0.7,1.2c-1.9,3.4-5.5,9.7-10.1,12.8c-5.5,3.8-16.6,5-25,4.6l-12.5-0.8c-5.6-0.4-9.1-0.7-10.4-0.6%20c-4.2,0.3-9.9,1.9-13.1,7.8l-0.1,0.2c-3.5,6.4-9.2,17-11.1,19.5c-1.5,2-13,16.5-21.3,22.8c-7.7,5.9-14.2,10.7-23.1,15%20c-3.6,1.8-9.4,4.4-14.9,6.9l-0.1,0.1c-9.1,4.1-15.3,6.9-17.2,8.1l-0.1,0.1l-0.1,0.1c-7.4,6.3-13.6,13.9-18.1,22.5%20c-1.1,2.1-2,3.7-5.7,2.8l-1.5-0.4c-10.2-2.5-24.3-5.8-29.1-5.8h-0.3l-3.3,0.9h-0.1l-1.9,0.6c-0.2,0.1-18.7,6.2-31.9,14.2l-2.7,1.6%20l2.3,2l4.5,4l0.1,0.1c1.3,1.2,3.1,1.5,4.8,1l7.8-1.9c1.4,1.7,15,17.5,19.6,22.9l-22.9-0.1c-3.1-2.6-6.5-4.8-10.2-6.5%20c-5.1-2-7.8-2.4-9.9-2.5c-2.3,0-4.5-1-6-2.8l-4.7-5.7l-2.6,2.1l-0.2,0.3c-0.5,0.7-3.3,4.5-6.5,5.8c-2.7,1.1-4.6,0-6-0.9l-0.9-0.5%20L246,243c-1.1-0.5-3.7-1.6-6.1-0.2s-3.6,4.7-4.1,9.9l-33.6,0.2l16.1-18.4l15.3-0.2l0.7-1c1.1-1.7,2.4-3.3,3.9-4.6%20c0.5-0.4,2.2-1.2,7.4-3.1l3.6-1.4l-3-2.5c-3.1-2.5-8-6.3-8.8-6.8l-0.5-0.3c-1.6-1.1-3.3-1.9-5.1-2.5l-6.2-1.9l-2.2-0.6%20c-0.6-0.2-4.8-2.1-9.9-4.6c-0.3-1.1-0.6-2.2-1.1-3.3h0.1l-0.9-2.1h-1.5c-8.8,0.1-37.8,0.4-40.6,0.6l-4.4,0.2l-2.8,0.2%20c-2,0.1-4-0.2-5.9-1c-3.1-2.1-6-4.4-8.8-6.9c-1.3-1.3-2-3-2-4.9c0-1.2,0.3-2.4,0.8-3.4l3-5.9c2.1-4,4.4-8.6,5.4-11.3%20c1.6-4.1,6.4-18.9,7.6-30.5l0.1-0.8l-0.5-0.7c-0.9-1.2-3.9-6.4-5.9-20.7l-0.1-0.7l-0.5-0.5c-5.3-5.5-32.8-32.6-51.6-32.2H103%20l-0.6,0.6c-1,1-5.1,4.2-13.4,6.7l-7.5,2.1C73.3,92.7,64.7,95,57,99.3c-9.7,5.4-20.5,14.1-24.7,19.9l-0.2,0.3l-0.1,0.4%20c-0.3,1-2,4.5-9.6,5.4c-5.6-0.6-9.5-1.1-9.9-1.2c-1.5-0.5-3-1.3-4.2-2.3c-1.1-1.2-3.5-3.6-5.3-9.8l-0.1-0.2V111%20c-0.9-1.6-1.6-3.2-2.3-4.9c-0.4-1-0.5-2-0.6-3c0-1.7,0.5-3.3,1.4-4.7c1.7-2.6,3.7-5,5.9-7.2l5.6-5.5l4.3-4c2.5-2.6,4.8-5.3,6.9-8.2%20l0.9-1.3c2.5-3.4,5.9-8.2,12.4-18.5l0.2-0.2l0.1-0.3c0.3-0.9,0.8-1.8,1.5-2.6c1-1.3,2.2-2.5,3.4-3.6c1-0.7,1.9-1.6,2.8-2.4l0.1-0.1%20l2.7-3.2l2.5-3c3.6-4,7.5-7.7,11.8-11c1.2-1,2.5-1.8,3.9-2.4l0.7-0.3l2.7-1.1l0.9-0.5l3.4-1.9l0.3-0.6c0.9-1.6,5.8-10,17.3-16.4%20C92.9,3.4,94,2.6,95,1.7l0.1-0.1c0.3-0.2,0.7-0.4,0.9-0.4s0.2,0.3,0.3,0.9c0.2,1.5,0.3,3,0.3,4.6c0,3.6-0.7,7.2-2,10.6l-1.7,4%20l7.4-1.6c2.2-0.6,6.3-1.8,16.4-6.8C132.1,5.4,143.1,0.7,147.4,0l-0.1,0.2l-0.6,0.7c-3.2,4-4.7,6.8-4.7,8.9c0,0.6,0.1,1.1,0.4,1.6%20c1.2,2.3,5.2,2.6,12,0.8l0.5-0.2l8.3-2.4c11.2-3.3,28-8.4,41-7.2h0.1c-0.1,0.1-0.2,0.2-0.2,0.3l-0.6,0.6c-2,1.7-3.8,3.5-3.8,5.4%20c0,0.2,0,0.4,0.1,0.6c0.5,2.6,4.2,3.9,11.4,4.1c2.5,0,8.2-0.4,14.8-0.8c11.9-0.8,26.7-1.9,33.2-1c0.4,0.1,0.8,0.2,0.8,0.4%20c0,0.3-0.2,0.5-0.4,0.7c-5.8,3.8-11.9,7.2-18.1,10.3l-3.8,1.9l3.9,2.2l0.1,0.1c1,0.4,3,1.1,9.2,1.7l0.5,0.1%20c0.4,0.1,0.7,0.3,0.9,0.7v0.1c0,0.3-0.2,0.5-0.4,0.7c-3.5,3.7-7.9,6.2-12.8,7.4c-4.1,1-8.2,1.7-12.4,2.2c3.2,0.6,7.5,1.4,12.5,2.2%20c9.8,1.8,34,6.1,49.2,5.7c18.5-0.4,36.8-3.3,46.6-4.9h0.2c5.9-0.9,36.6-5.3,60.4,1c23,6,34.7,10.9,58.1,27.5%20c4.2,3,13.8,9.5,21.8,14.5c4.5,2.8,7.6,3.4,12.6,2.3c5.9-1.3,7.5-17.4,7.5-17.5c0.5-5.8,4-16.6,11-21c8-5.1,14-6.1,29-4.7%20c11.2,1,27.7,5.8,33.1,7.4l2.1,0.6c21,6.5,33.4,7.5,40.2,7.2c12-0.5,23.7-4.8,36.8-13.2c1.3,3,2.1,6.3,2.1,9.6'/%3E%3C/g%3E%3C/svg%3E");
                                }
                                .ford-bronco {
                                    background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%20346.3%20426.6'%20style='enable-background:new%200%200%20346.3%20426.6;'%20xml:space='preserve'%3E%3Cstyle%20type='text/css'%3E%20.st0%7Bfill:none;%7D%20.st1%7Bfill:%232861A4;%7D%0A%3C/style%3E%3Cg%20id='Clearspace'%3E%3Crect%20x='-216'%20y='-62.2'%20class='st0'%20width='778.5'%20height='551.3'/%3E%3C/g%3E%3Cg%20id='Bronco_Sport'%3E%3Cpath%20class='st1'%20d='M221.7,205.3c-3.3,9.4-8.9,30.5-20,40.7c-12.5,11.5-30.6,14.2-32,19c-2.1,6.7-8.2,38.5-8.6,40.8%20s1.7,3.9,1.8,8.7s-3.2,8.4-3.1,11.1s1.3,41.1,1.8,45c0.7,5.5,5.4,8.7,5.4,16.4c0,4.3-5.3,8.9-5.7,12s3,5.1,3,6.3s-0.9,8-1.4,10.5%20s-2.4,3.2-12.5,6.6s-21.7,5.1-22.6,3.9c-1.1-1.5,1.8-11.1,3.9-16.6s6.4-7.6,8.3-10.4s0.4-6.2,0.2-11.3s2.6-11.7,2.1-16.3%20c-0.3-2.9-2-19.5-3.6-31.6c-3.8,8.7-11.2,25.8-12,28.2c-1.1,3.3,0,6.9-0.2,9.6s-2.5,4.9-4.8,7s-1.8,4.6-1.9,6.3s1.5,2.7,2.2,3.9%20s-0.3,12.9-3.1,13.6c-16.2,4-31.8,4.2-32.2,3.5c-0.8-1.3,2.9-10.8,5.7-13.8s9.4-8.4,9-14.8s1.4-10.2,4.4-12.3s4-8.7,6.4-17.4%20s4.9-25.7,4.5-32.1s-0.5-12.9,0.9-17.5s0.5-10.4,0-14.6s-3.8-18.2-5.6-21.1c-1.6-2.4-15.6-18.7-18.3-19.6s-9-1-13.4,0.9%20s-4.1,4.2-3.6,5s4.1,4.7,4.1,6.4s-1.7,21.4-1.4,25.2s5.1,11.5,6,13.3c2.1,4,1.8,7.2,2.5,10.2s6.2,7.3,7,9.4s-5.7,10.6-6.4,9.9%20S83,322,82,320.8s-0.2-3.9-0.8-4.5c-0.4-0.4-5.3-0.7-6.2,0s-0.7,7.3-0.1,8.2s7.7,8.5,8.2,9.3s-2.3,3.6-4.6,3.8s-12.2,1.8-15.7,0%20c-3.5-1.8-2.3-5.7-4.4-9.7s-22-25.5-25.5-29.1s-9.4-8.3-11.4-11.6s-2.6-12.7-3.5-15.1s-12-6.7-15.6-17.4%20c-3.6-10.7-2.1-18.4-2.1-18.4c4.6-0.7,9.4,1.7,11.3,2.7c-1-12.9,3.3-33.7,3.6-39.5c0.7-14.7-4.1-31.6-4.1-31.6%20c12.3,3.5,19.6,20.2,19.6,20.2c6.3-13.3,24.7-32,29.1-37.6c8.1-10.4,9.4-24.9,9.4-24.9c5.2,4.6,7.1,12.2,6.7,19.9%20c-0.2,4.3,1,4.4,2.5,2.6c13.6-17.6,25-17.9,25-17.9s-4.8,16.8-1.4,17.4c10,1.8,34.4-28.3,34.4-28.3c1.4,10.4-0.3,21-5,30.4%20c20.4-8.4,63.2-43.9,79.2-54.7s27.4-9.3,36.6-10.3c9.2-1,55-9.3,57-23.4c2.4-16.8-23.9-23.9-23.9-23.9c1.5-3.9,6-5.1,6-5.1%20c-2-2.4-13.4-7.9-23.2-4.1c-11.6,4.4-15.3-0.3-15.3-0.3c4.9-2.2,8.2-4.6,9.1-6.3c0.8-1.4,0-2.9-1.4-2.7c-3.1,0.3-4.9,2.6-8,3.4%20c-9,2.2-12.4-1.6-12.4-1.6c15-4.2,15.9-26.7,57.4-19.1c15.1,2.9,28.6,11.4,37.6,23.9c0.8-1.8,1.9-3.4,3.4-4.8%20c9,12.1,17,26.9,10.4,46.3c-6,17.8-30.8,21.9-48.7,27.6c-3.3,1-2.3,3.7-1.9,5s8.7,20,12,30s3.3,17.2,0,23.9%20c-3,5.7-20.4,22.3-20.3,23.6c0.1,1,6.9,0.2,14.3,0.7c9.5,0.6,35.9-0.3,36.2,3.9c0.2,3.2-1.8,8.1-4.5,12.8c-2.7,4.7-5.9,9.4-9.2,12%20c-7.3,5.7-47.6,32.5-51.9,36.1s-3.1,7.1-4.9,9s-5.2,1.5-5,3.7c0.2,2.2,8.7,2,9,5.4c0.9,10.4-1.5,36.7-5.2,35.6%20c-5.4-1.5-10.5-6.9-12.2-12.2c-1.1,4-3.3,10.6-4.7,9.8c-8.6-5-10-14.3-11.5-17.1s-4.1-4.8-5.2-8s2.5-6.2,3.2-11.8%20c1.3-9.3,2.8-12.9,6.6-16.6s10.6-8.3,17.8-14.7c2.9-2.6,5.5-5.7,7.6-9c0,0-17.6,2.8-19.4,3c-2.2,0.3-4.4,0.3-6.6-0.1%20c-1.7-0.5-9.1-4.6-14.6-10.1C224.3,208.8,221.7,205.3,221.7,205.3z'/%3E%3C/g%3E%3C/svg%3E%0A");
                                }
                            }
                        }
                        .ford-mustang {
                            background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%20649.9%20254'%20style='enable-background:new%200%200%20649.9%20254;'%20xml:space='preserve'%3E%3Cstyle%20type='text/css'%3E%20.st0%7Bfill:none;%7D%20.st1%7Bfill:%23112B4D;%7D%0A%3C/style%3E%3Cg%20id='Clearspace'%3E%3Crect%20x='-72.1'%20y='-190.4'%20class='st0'%20width='778.5'%20height='551.3'/%3E%3C/g%3E%3Cg%20id='Bronco_Sport'%3E%3Cpath%20class='st1'%20d='M180.3,160c-0.2,0.5-1.9,4-3.2,6.9c-2.4,5.1-3.2,6.8-3.3,7.2l-0.3,0.9l2.8,5.8l0.4,0.3c0.4,0.3,9,6.8,24.7,3.9%20l3-0.5l-1.4-2.7c-1.8-3.4-3.9-6.7-6.3-9.7c-2.5-3-5.2-5.9-8-8.6c-1.4-1.3-2.7-2.7-3.9-4.1l-1.6-4.9l-2.4,4.6L180.3,160%20M275.4,151.9L275.4,151.9c-11.8,1.6-23.7,2.4-35.7,2.2H238l-0.5,1.6c-2.8,9.3,0.2,19.6,0.4,20l0.7,2.3l2.3-0.9%20c0.6-0.3,1.3-0.2,1.9,0.2l1,0.8l1.1-0.4c4.4-1.5,6.2-7.6,7-11.1l32,2l-15.4,15.3l-10.8,1.9l-0.5,0.5c-3.1,3.2-6.3,6.2-9.8,9%20l-1.5,1.3l1.1,1.7c6.5,9.8,12.7,12.4,12.9,12.5l1.2,0.5l23.9-19.4l20.9-1.9h0.9l1.7-2l0.1-0.2c9-10.7,12.7-15.8,16.5-22.5%20c2.5-4.4,5.7-13.2,7-16.8c0.6-1.8,1.8-4.1,3.2-7.1l3.8-7.9l-4.6,1.2c-4.5,1.1-15.8,4.9-22.6,7.6C300.2,146.8,288,150.1,275.4,151.9%20M649.7,56.8c0,7.3-3.3,18.1-19.2,28.3c-12.2,7.8-36.2,9.4-43.2,8.7c-14.9-1.5-27.8-4.5-38.3-8.8c-4-1.6-6.9-1.9-9.5-0.9%20c-2.9,1.2-6,4.6-7.7,7.6l-0.7,1.2c-1.9,3.4-5.5,9.7-10.1,12.8c-5.5,3.8-16.6,5-25,4.6l-12.5-0.8c-5.6-0.4-9.1-0.7-10.4-0.6%20c-4.2,0.3-9.9,1.9-13.1,7.8l-0.1,0.2c-3.5,6.4-9.2,17-11.1,19.5c-1.5,2-13,16.5-21.3,22.8c-7.7,5.9-14.2,10.7-23.1,15%20c-3.6,1.8-9.4,4.4-14.9,6.9l-0.1,0.1c-9.1,4.1-15.3,6.9-17.2,8.1l-0.1,0.1l-0.1,0.1c-7.4,6.3-13.6,13.9-18.1,22.5%20c-1.1,2.1-2,3.7-5.7,2.8l-1.5-0.4c-10.2-2.5-24.3-5.8-29.1-5.8h-0.3l-3.3,0.9h-0.1l-1.9,0.6c-0.2,0.1-18.7,6.2-31.9,14.2l-2.7,1.6%20l2.3,2l4.5,4l0.1,0.1c1.3,1.2,3.1,1.5,4.8,1l7.8-1.9c1.4,1.7,15,17.5,19.6,22.9l-22.9-0.1c-3.1-2.6-6.5-4.8-10.2-6.5%20c-5.1-2-7.8-2.4-9.9-2.5c-2.3,0-4.5-1-6-2.8l-4.7-5.7l-2.6,2.1l-0.2,0.3c-0.5,0.7-3.3,4.5-6.5,5.8c-2.7,1.1-4.6,0-6-0.9l-0.9-0.5%20L246,243c-1.1-0.5-3.7-1.6-6.1-0.2s-3.6,4.7-4.1,9.9l-33.6,0.2l16.1-18.4l15.3-0.2l0.7-1c1.1-1.7,2.4-3.3,3.9-4.6%20c0.5-0.4,2.2-1.2,7.4-3.1l3.6-1.4l-3-2.5c-3.1-2.5-8-6.3-8.8-6.8l-0.5-0.3c-1.6-1.1-3.3-1.9-5.1-2.5l-6.2-1.9l-2.2-0.6%20c-0.6-0.2-4.8-2.1-9.9-4.6c-0.3-1.1-0.6-2.2-1.1-3.3h0.1l-0.9-2.1h-1.5c-8.8,0.1-37.8,0.4-40.6,0.6l-4.4,0.2l-2.8,0.2%20c-2,0.1-4-0.2-5.9-1c-3.1-2.1-6-4.4-8.8-6.9c-1.3-1.3-2-3-2-4.9c0-1.2,0.3-2.4,0.8-3.4l3-5.9c2.1-4,4.4-8.6,5.4-11.3%20c1.6-4.1,6.4-18.9,7.6-30.5l0.1-0.8l-0.5-0.7c-0.9-1.2-3.9-6.4-5.9-20.7l-0.1-0.7l-0.5-0.5c-5.3-5.5-32.8-32.6-51.6-32.2H103%20l-0.6,0.6c-1,1-5.1,4.2-13.4,6.7l-7.5,2.1C73.3,92.7,64.7,95,57,99.3c-9.7,5.4-20.5,14.1-24.7,19.9l-0.2,0.3l-0.1,0.4%20c-0.3,1-2,4.5-9.6,5.4c-5.6-0.6-9.5-1.1-9.9-1.2c-1.5-0.5-3-1.3-4.2-2.3c-1.1-1.2-3.5-3.6-5.3-9.8l-0.1-0.2V111%20c-0.9-1.6-1.6-3.2-2.3-4.9c-0.4-1-0.5-2-0.6-3c0-1.7,0.5-3.3,1.4-4.7c1.7-2.6,3.7-5,5.9-7.2l5.6-5.5l4.3-4c2.5-2.6,4.8-5.3,6.9-8.2%20l0.9-1.3c2.5-3.4,5.9-8.2,12.4-18.5l0.2-0.2l0.1-0.3c0.3-0.9,0.8-1.8,1.5-2.6c1-1.3,2.2-2.5,3.4-3.6c1-0.7,1.9-1.6,2.8-2.4l0.1-0.1%20l2.7-3.2l2.5-3c3.6-4,7.5-7.7,11.8-11c1.2-1,2.5-1.8,3.9-2.4l0.7-0.3l2.7-1.1l0.9-0.5l3.4-1.9l0.3-0.6c0.9-1.6,5.8-10,17.3-16.4%20C92.9,3.4,94,2.6,95,1.7l0.1-0.1c0.3-0.2,0.7-0.4,0.9-0.4s0.2,0.3,0.3,0.9c0.2,1.5,0.3,3,0.3,4.6c0,3.6-0.7,7.2-2,10.6l-1.7,4%20l7.4-1.6c2.2-0.6,6.3-1.8,16.4-6.8C132.1,5.4,143.1,0.7,147.4,0l-0.1,0.2l-0.6,0.7c-3.2,4-4.7,6.8-4.7,8.9c0,0.6,0.1,1.1,0.4,1.6%20c1.2,2.3,5.2,2.6,12,0.8l0.5-0.2l8.3-2.4c11.2-3.3,28-8.4,41-7.2h0.1c-0.1,0.1-0.2,0.2-0.2,0.3l-0.6,0.6c-2,1.7-3.8,3.5-3.8,5.4%20c0,0.2,0,0.4,0.1,0.6c0.5,2.6,4.2,3.9,11.4,4.1c2.5,0,8.2-0.4,14.8-0.8c11.9-0.8,26.7-1.9,33.2-1c0.4,0.1,0.8,0.2,0.8,0.4%20c0,0.3-0.2,0.5-0.4,0.7c-5.8,3.8-11.9,7.2-18.1,10.3l-3.8,1.9l3.9,2.2l0.1,0.1c1,0.4,3,1.1,9.2,1.7l0.5,0.1%20c0.4,0.1,0.7,0.3,0.9,0.7v0.1c0,0.3-0.2,0.5-0.4,0.7c-3.5,3.7-7.9,6.2-12.8,7.4c-4.1,1-8.2,1.7-12.4,2.2c3.2,0.6,7.5,1.4,12.5,2.2%20c9.8,1.8,34,6.1,49.2,5.7c18.5-0.4,36.8-3.3,46.6-4.9h0.2c5.9-0.9,36.6-5.3,60.4,1c23,6,34.7,10.9,58.1,27.5%20c4.2,3,13.8,9.5,21.8,14.5c4.5,2.8,7.6,3.4,12.6,2.3c5.9-1.3,7.5-17.4,7.5-17.5c0.5-5.8,4-16.6,11-21c8-5.1,14-6.1,29-4.7%20c11.2,1,27.7,5.8,33.1,7.4l2.1,0.6c21,6.5,33.4,7.5,40.2,7.2c12-0.5,23.7-4.8,36.8-13.2c1.3,3,2.1,6.3,2.1,9.6'/%3E%3C/g%3E%3C/svg%3E");
                        }
                        .ford-bronco {
                            background-image: url("data:image/svg+xml,%3Csvg%20version='1.1'%20id='Layer_1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%20346.3%20426.6'%20style='enable-background:new%200%200%20346.3%20426.6;'%20xml:space='preserve'%3E%3Cstyle%20type='text/css'%3E%20.st0%7Bfill:none;%7D%20.st1%7Bfill:%23112B4D;%7D%0A%3C/style%3E%3Cg%20id='Clearspace'%3E%3Crect%20x='-216'%20y='-62.2'%20class='st0'%20width='778.5'%20height='551.3'/%3E%3C/g%3E%3Cg%20id='Bronco_Sport'%3E%3Cpath%20class='st1'%20d='M221.7,205.3c-3.3,9.4-8.9,30.5-20,40.7c-12.5,11.5-30.6,14.2-32,19c-2.1,6.7-8.2,38.5-8.6,40.8%20s1.7,3.9,1.8,8.7s-3.2,8.4-3.1,11.1s1.3,41.1,1.8,45c0.7,5.5,5.4,8.7,5.4,16.4c0,4.3-5.3,8.9-5.7,12s3,5.1,3,6.3s-0.9,8-1.4,10.5%20s-2.4,3.2-12.5,6.6s-21.7,5.1-22.6,3.9c-1.1-1.5,1.8-11.1,3.9-16.6s6.4-7.6,8.3-10.4s0.4-6.2,0.2-11.3s2.6-11.7,2.1-16.3%20c-0.3-2.9-2-19.5-3.6-31.6c-3.8,8.7-11.2,25.8-12,28.2c-1.1,3.3,0,6.9-0.2,9.6s-2.5,4.9-4.8,7s-1.8,4.6-1.9,6.3s1.5,2.7,2.2,3.9%20s-0.3,12.9-3.1,13.6c-16.2,4-31.8,4.2-32.2,3.5c-0.8-1.3,2.9-10.8,5.7-13.8s9.4-8.4,9-14.8s1.4-10.2,4.4-12.3s4-8.7,6.4-17.4%20s4.9-25.7,4.5-32.1s-0.5-12.9,0.9-17.5s0.5-10.4,0-14.6s-3.8-18.2-5.6-21.1c-1.6-2.4-15.6-18.7-18.3-19.6s-9-1-13.4,0.9%20s-4.1,4.2-3.6,5s4.1,4.7,4.1,6.4s-1.7,21.4-1.4,25.2s5.1,11.5,6,13.3c2.1,4,1.8,7.2,2.5,10.2s6.2,7.3,7,9.4s-5.7,10.6-6.4,9.9%20S83,322,82,320.8s-0.2-3.9-0.8-4.5c-0.4-0.4-5.3-0.7-6.2,0s-0.7,7.3-0.1,8.2s7.7,8.5,8.2,9.3s-2.3,3.6-4.6,3.8s-12.2,1.8-15.7,0%20c-3.5-1.8-2.3-5.7-4.4-9.7s-22-25.5-25.5-29.1s-9.4-8.3-11.4-11.6s-2.6-12.7-3.5-15.1s-12-6.7-15.6-17.4%20c-3.6-10.7-2.1-18.4-2.1-18.4c4.6-0.7,9.4,1.7,11.3,2.7c-1-12.9,3.3-33.7,3.6-39.5c0.7-14.7-4.1-31.6-4.1-31.6%20c12.3,3.5,19.6,20.2,19.6,20.2c6.3-13.3,24.7-32,29.1-37.6c8.1-10.4,9.4-24.9,9.4-24.9c5.2,4.6,7.1,12.2,6.7,19.9%20c-0.2,4.3,1,4.4,2.5,2.6c13.6-17.6,25-17.9,25-17.9s-4.8,16.8-1.4,17.4c10,1.8,34.4-28.3,34.4-28.3c1.4,10.4-0.3,21-5,30.4%20c20.4-8.4,63.2-43.9,79.2-54.7s27.4-9.3,36.6-10.3c9.2-1,55-9.3,57-23.4c2.4-16.8-23.9-23.9-23.9-23.9c1.5-3.9,6-5.1,6-5.1%20c-2-2.4-13.4-7.9-23.2-4.1c-11.6,4.4-15.3-0.3-15.3-0.3c4.9-2.2,8.2-4.6,9.1-6.3c0.8-1.4,0-2.9-1.4-2.7c-3.1,0.3-4.9,2.6-8,3.4%20c-9,2.2-12.4-1.6-12.4-1.6c15-4.2,15.9-26.7,57.4-19.1c15.1,2.9,28.6,11.4,37.6,23.9c0.8-1.8,1.9-3.4,3.4-4.8%20c9,12.1,17,26.9,10.4,46.3c-6,17.8-30.8,21.9-48.7,27.6c-3.3,1-2.3,3.7-1.9,5s8.7,20,12,30s3.3,17.2,0,23.9%20c-3,5.7-20.4,22.3-20.3,23.6c0.1,1,6.9,0.2,14.3,0.7c9.5,0.6,35.9-0.3,36.2,3.9c0.2,3.2-1.8,8.1-4.5,12.8c-2.7,4.7-5.9,9.4-9.2,12%20c-7.3,5.7-47.6,32.5-51.9,36.1s-3.1,7.1-4.9,9s-5.2,1.5-5,3.7c0.2,2.2,8.7,2,9,5.4c0.9,10.4-1.5,36.7-5.2,35.6%20c-5.4-1.5-10.5-6.9-12.2-12.2c-1.1,4-3.3,10.6-4.7,9.8c-8.6-5-10-14.3-11.5-17.1s-4.1-4.8-5.2-8s2.5-6.2,3.2-11.8%20c1.3-9.3,2.8-12.9,6.6-16.6s10.6-8.3,17.8-14.7c2.9-2.6,5.5-5.7,7.6-9c0,0-17.6,2.8-19.4,3c-2.2,0.3-4.4,0.3-6.6-0.1%20c-1.7-0.5-9.1-4.6-14.6-10.1C224.3,208.8,221.7,205.3,221.7,205.3z'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                        .left-item {
                            width: 40px;
                            vertical-align: middle;
                            display: inline-block;
                            background-repeat: no-repeat;
                            height: 30px;
                            background-size: 100% 100%;
                            line-height: normal;
                        }
                        .left-text {
                            margin-left: 5px;
                            display: inline-block;
                            width: auto;
                            text-align: left;
                            vertical-align: middle;
                        }
                    }
                    .saperator {
                        &::before {
                            content: "";
                            width: 1px;
                            height: 20px;
                            margin-right: 3px;
                            margin-left: 3px;
                            background-color: #d6d5d5;
                            display: inline-block;
                            line-height: normal;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .nav-top-right {
                padding-bottom: 10px;
                a {
                    &:hover {
                        text-decoration: none;
                        .icon {
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2260px%22%20height%3D%2260px%22%20viewBox%3D%220%200%2060%2060%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2059.1%20(86144)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3ESaved_Dealership%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Saved_Dealership%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.5425931%2C9.53739173%20C10.203775%2C15.8628767%209.31010556%2C25.6310845%2013.8200187%2C32.9562035%20L30%2C56%20L46.1812438%2C32.9562035%20C50.691157%2C25.6331585%2049.7933309%2C15.8649506%2043.4586694%2C9.53739173%20C36.0557613%2C2.15420276%2023.9413447%2C2.15420276%2016.5425931%2C9.53739173%20Z%20M24.0765368%2C29.085963%20C20.8808058%2C25.8868335%2020.8808058%2C20.6202394%2024.0765368%2C17.3993471%20C27.2722679%2C14.2002176%2032.4782865%2C14.2002176%2035.6718582%2C17.3993471%20C38.8719078%2C20.6202394%2038.8719078%2C25.8868335%2035.6718582%2C29.085963%20C32.4782865%2C32.304679%2027.2722679%2C32.304679%2024.0765368%2C29.085963%20Z%22%20id%3D%22Mask%22%20fill%3D%22%232861A4%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
                        }
                    }
                    .icon {
                        background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2260px%22%20height%3D%2260px%22%20viewBox%3D%220%200%2060%2060%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2059.1%20(86144)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3ESaved_Dealership%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Saved_Dealership%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.5425931%2C9.53739173%20C10.203775%2C15.8628767%209.31010556%2C25.6310845%2013.8200187%2C32.9562035%20L30%2C56%20L46.1812438%2C32.9562035%20C50.691157%2C25.6331585%2049.7933309%2C15.8649506%2043.4586694%2C9.53739173%20C36.0557613%2C2.15420276%2023.9413447%2C2.15420276%2016.5425931%2C9.53739173%20Z%20M24.0765368%2C29.085963%20C20.8808058%2C25.8868335%2020.8808058%2C20.6202394%2024.0765368%2C17.3993471%20C27.2722679%2C14.2002176%2032.4782865%2C14.2002176%2035.6718582%2C17.3993471%20C38.8719078%2C20.6202394%2038.8719078%2C25.8868335%2035.6718582%2C29.085963%20C32.4782865%2C32.304679%2027.2722679%2C32.304679%2024.0765368%2C29.085963%20Z%22%20id%3D%22Mask%22%20fill%3D%22%23102B4E%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
                        width: 23px;
                        height: 23px;
                        vertical-align: middle;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        line-height: normal;
                        margin-left: -33px;
                        margin-top: 10px;
                    }
                    .text {
                        color: #2861a4;
                        white-space: nowrap;
                        font-family: 'fordngbs-antenna-cond-medium', 'fordngbs-antenna-cond-regular', 'fordngbs-antenna-re', arial, helvetica, sans-serif;
                        letter-spacing: .5px;
                        font-size: 12px;
                    }
                }
            }
        }
        .navbar {
            padding-left: 80px;
            padding-right: 80px;
            margin-top: 10px;
            .navbar-brand {
                background: transparent url('./../../images/bsr-sprite2x.png') no-repeat -200px 0;
                width: 93px;
                height: 35px;
                background-size: 400px 200px;
                display: inline-block;
                padding: 0;
                margin: -6px 0 0 0;
            }
            .navbar-toggler {
                .lines {
                    display: inline-block;
                    width: 35px;
                    height: 2px;
                    background: #102b4e;
                    border-radius: 2px;
                    transition: .2s;
                    position: relative;
                    &::before {
                        top: 8.75px;
                        position: absolute;
                        left: 0;
                        content: '';
                        transform-origin: 2px center;
                        display: inline-block;
                        width: 35px;
                        height: 2px;
                        background: #102b4e;
                        border-radius: 2px;
                        transition: .2s;
                    }
                    &::after {
                        top: -8.75px;
                        position: absolute;
                        left: 0;
                        content: '';
                        transform-origin: 2px center;
                        display: inline-block;
                        width: 35px;
                        height: 2px;
                        background: #102b4e;
                        border-radius: 2px;
                        transition: .2s;
                    }
                }
                .navbar-toggler-icon {
                    display: block;
                    font-size: 10px;
                    padding-top: 10px;
                    padding-left: 5px;
                }
                .open {
                    display: block;
                    height: 1px;
                    width: 1px;
                    position: absolute;
                    overflow: hidden;
                    top: -10px;
                    color: transparent;
                }
                .close {
                    display: none;
                    height: 1px;
                    width: 1px;
                    position: absolute;
                    overflow: hidden;
                    top: -10px;
                    color: transparent;
                }
            }
            .collapse {
                margin-left: 30px;
                padding-top: 7px;
                justify-content: space-between;
                .nav-1 {
                    font-size: 14px;
                    li {
                        a {
                            cursor: pointer;
                            color: #0276b3 !important;
                            &:hover {
                                color: #102b4e !important;
                            }
                        }
                        .dropdown-toggle {
                            &::after {
                                display: none;
                            }
                        }
                        .dropdown-menu {
                            top: 120%;
                            left: -203px;
                            z-index: 1000;
                            float: left;
                            min-width: 80.6rem;
                            width: 100%;
                            overflow-y: auto;
                            // max-height: min(calc(100vh - 121px),700px);
                            max-height: 700px;
                            font-size: 0;
                            border-radius: 0%;
                            box-shadow: 0 8px 4px -4px #00000033;
                            border: none;
                            .menu-set {
                                padding-left: 70px;
                                padding-right: 70px;
                                .row {
                                    margin: 0;
                                    li {
                                        margin-bottom: 20px;
                                        list-style: none;
                                        .vehicle-title {
                                            max-width: 260px;
                                            margin-left: auto;
                                            margin-right: auto;
                                            padding-left: 25px;
                                            padding-right: 25px;
                                            .vehicle-top {
                                                margin: 0;
                                                .vehicle-item {
                                                    .vehicle-banner {}
                                                    .vehicle-img {
                                                        img {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                                .vehicle-name {
                                                    color: #102b4e;
                                                    font-family: 'fordngbs-antenna-cond-regular';
                                                    padding-top: 3px;
                                                    font-size: 13px;
                                                    letter-spacing: -1px;
                                                    font-weight: bold;
                                                    p {
                                                        margin: 2px;
                                                    }
                                                    span {
                                                        display: none;
                                                    }
                                                    &:hover {
                                                        span {
                                                            display: inline-block;
                                                        }
                                                    }
                                                }
                                                .vehicle-info {
                                                    p {
                                                        font-size: 12px;
                                                        color: #4d4d4d;
                                                        margin-bottom: 2px;
                                                        span {
                                                            color: #0276b3;
                                                            cursor: pointer;
                                                            padding: 2px 2px 2px 1px;
                                                            top: -0.5em;
                                                            font-size: 75%;
                                                            line-height: 0;
                                                            position: relative;
                                                            vertical-align: baseline;
                                                        }
                                                    }
                                                }
                                                .vehicle-crap {
                                                    padding-bottom: 3px;
                                                    .crap {
                                                        a {
                                                            position: relative;
                                                            &::before {
                                                                background: 0;
                                                                border: 0;
                                                                border-bottom: 1px solid rgba(2, 118, 179, 0.5);
                                                                content: "";
                                                                display: block;
                                                                position: absolute;
                                                                top: 4px;
                                                                left: 0;
                                                                right: 0;
                                                                bottom: 0;
                                                                pointer-events: none;
                                                            }
                                                            span {
                                                                font-size: 14px;
                                                            }
                                                            &:hover {
                                                                text-decoration: none;
                                                                span {
                                                                    color: #333;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .menu-seagmen {
                                background-color: #f7f7f7;
                                padding-left: 90px;
                                padding-right: 90px;
                                .seagmen-item {
                                    white-space: nowrap;
                                    overflow-y: hidden;
                                    overflow-x: auto;
                                    padding-top: 14px;
                                    padding-bottom: 14px;
                                    text-align: left;
                                    .item {
                                        display: inline-block;
                                        padding-left: 9px;
                                        padding-right: 9px;
                                        white-space: normal;
                                        .btn-primary {
                                            min-height: 30px;
                                            width: auto;
                                            min-width: 186px;
                                            font-size: 12px;
                                            line-height: 1.25;
                                            border-radius: 20px;
                                            padding-top: 10px;
                                            padding-bottom: 10px;
                                            span {
                                                color: #fff;
                                            }
                                            &:hover {
                                                background-color: #fff;
                                                border: 1px solid #102b4e;
                                                span {
                                                    color: #102b4e;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .nav-2 {
                    font-size: 12px;
                    .icon-1 {
                        padding-top: 2px;
                        .icon {
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2260px%22%20height%3D%2260px%22%20viewBox%3D%220%200%2060%2060%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Ctitle%3EAccount%20Icon%3C%2Ftitle%3E%0A%20%20%20%20%3Cg%20id%3D%22Account-Icon%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M30.5015492%2C12.0018694%20C30.5015492%2C12.0018694%2037.2995502%2C11.7503224%2039.9921039%2C17.0831196%20C41.9968016%2C21.0516441%2041.7737131%2C26.7158916%2038.3623188%2C29.6930248%20C36.9277361%2C30.9389225%2035.7658171%2C31.4597728%2035.7658171%2C31.4597728%20L35.7658171%2C32.7885331%20C35.7658171%2C32.7885331%2046%2C35.1175627%2046%2C42.3414019%20C46%2C42.3414019%2044.4073963%2C44.2383625%2041.3275362%2C46.0702168%20C39.0470765%2C47.4285708%2035.490055%2C49%2030.7091454%2C49%20C25.9282359%2C49%2022.141929%2C47.5972553%2019.6724638%2C46.0702168%20C16.7165417%2C44.2383625%2015%2C42.3414019%2015%2C42.3414019%20C15%2C35.1175627%2025.2341829%2C32.7885331%2025.2341829%2C32.7885331%20L25.2341829%2C31.4597728%20C25.2341829%2C31.4597728%2024.0722639%2C30.9389225%2022.6407796%2C29.6930248%20C19.2262869%2C26.7158916%2019.0062969%2C21.0516441%2021.0078961%2C17.0831196%20C23.7004498%2C11.7503224%2030.5015492%2C12.0018694%2030.5015492%2C12.0018694%20Z%22%20stroke%3D%22%230276B3%22%20stroke-width%3D%221.825%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            width: 25px;
                            height: 25px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    li {
                        padding-left: 2px;
                        padding-right: 2px;
                        a {
                            padding-top: 7px;
                            &:hover {
                                color: #102b4e;
                            }
                        }
                    }
                    .item-1 {
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    @include respond-to('extra-large') {
        .nav-2 .account {
            display: none;
        }
    }
    @include respond-to('large') {
        .nav-top {
            display: none !important;
        }
        .navbar {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
}

@include respond-to('xx-large') {
    .container-fluid {
        padding: 0;
    }
}