* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'fordngbs-antenna-light', arial, helvetica, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
    color: $color-black-1;
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}